@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
*,
button,
input {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

  font-family: "Roboto", sans-serif;
}

:root {
  --bg-shape-color: linear-gradient(120deg, #0c2d1c, #092215);
  --lightblue: #154f30;
  --darkblue: #1b663e;
  --text-color: #d5e1ef;
}

html,
body {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(90deg, #06170e, #030b07);
  color: var(--text-color);
}
// body {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   padding: 40px 0px;
// }
.wrapper {
  width: 350px;
  border-radius: 40px;
  background-image: var(--bg-shape-color);

  overflow: hidden;
}
.overviewInfo,
.productSpecifications {
  padding: 24px;
}
.overviewInfo {
  background-image: linear-gradient(176deg, var(--lightblue), var(--darkblue));
}
.actions {
  display: flex;
  justify-content: space-between;
  // margin-bottom: 32px;

  .cartbutton {
    position: relative;
  }
  .cartbutton::after {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    background-image: linear-gradient(90deg, #154f30, #1b663e);
    border-radius: 50%;
    position: absolute;
    top: 11px;
    right: 8px;
  }

  .cartbutton svg {
    color: #ababab73;
  }
  .backbutton,
  .cartbutton {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}
.neurobutton {
  background-image: var(--bg-shape-color);

  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 3px 4px 5px 0px rgba(197, 197, 197, 0.1),
    inset 3px 6px 6px 5px rgba(78, 77, 77, 0.1),
    -2px -2px 8px 2px rgba(255, 255, 255, 0.1),
    2px 2px 6px 3px rgba(0, 0, 0, 0.4);
}

.productinfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  // min-height: 10px;
  margin-bottom: 150px;
  margin-top: -50px;
}

.productImage {
  position: absolute;

  width: 100%;
  height: auto;
  // transform: rotate(-90deg) translate(-56px, 66px);

  // animation: updowncontroller infinite 3s alternate;
  img {
    width: 100%;
    height: auto;
  }
  transition: ease 2s all;
  &:hover {
    // transition: ease 2s all;
    // animation: none;
    // transform: rotate(-70deg) translate(10px, 66px);
  }
}

h1 {
  font-family: "Michroma", sans-serif;
}
.grouptext {
  h3 {
    letter-spacing: 3.2px;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 8px;
  }
  p {
    font-size: 12px;
    opacity: 0.8;
  }
}

/* product specifications */
.featureIcon {
  width: 40px;
  height: 40px;
  background-image: var(--bg-shape-color);
  border-radius: 8px;
  margin-right: 16px;
}
.productSpecifications {
  h1 {
    margin-top: 10px;
    margin-bottom: 16px;
    font-size: 32px;
  }

  p {
    opacity: 0.8;
    font-size: 15px;
    line-height: 1.5;
  }

  .productFeatures {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
    grid-row-gap: 16px;
    .feature {
      display: flex;
    }
  }
}

.checkoutButton {
  display: flex;
  width: 100%;
  background-image: var(--bg-shape-color);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: -2px -2px 2px 0px rgba(80, 80, 80, 0.1),
    2px 2px 3px 0px rgba(12, 12, 12, 0.3),
    inset 0px 0px 0px 2px rgba(80, 80, 80, 0.2);
  margin-top: 30px;
  padding: 14px;

  justify-content: space-between;
  align-items: center;
}

.priceTag {
  display: flex;
  align-items: center;
  font-size: 32px;
}

.priceTag span {
  color: #488dc7;
  font-size: 20px;
}

/* checkout button*/
button.preorder {
  outline: 0;
  border: 0;
  border-radius: 6px;
  display: flex;
  align-items: center;
  overflow: hidden;
  background-image: linear-gradient(85deg, #154f30, #1b663e);
  color: white;
}

.preorder p {
  padding: 8px 17px;
  border-right: 1px solid rgba(0, 0, 0, 0.4);
}

.buttonaction {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  padding: 5px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.7);
}

/* animation */

@keyframes updowncontroller {
  0% {
    transform: rotate(-90deg) translate(-56px, 66px);
  }
  80%,
  100% {
    transform: rotate(-70deg) translate(10px, 66px);
  }
}

.flex {
  display: flex;
  width: 100%;
  gap: 10em;
  justify-content: center;
}

.margin-top {
  margin-top: 3em;
}

.link {
  color: #1b663e;
  font-size: 1.5em;

  &:active {
    color: #0c2d1c;
  }
}

.heading {
  text-align: center;
}

.heading__title {
  font-weight: 600;
}

.heading__credits {
  margin: 10px 0px;
  color: #888888;
  font-size: 25px;
  transition: all 0.5s;
}

.heading__link {
  text-decoration: none;
}

.heading__credits .heading__link {
  color: inherit;
}

/* CARDS */

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  margin: 20px;
  padding: 20px;
  width: 500px;
  min-height: 200px;
  display: grid;
  // grid-template-rows: 20px 50px 1fr 50px;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
}

.card:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
}

.card__link,
.card__exit,
.card__icon {
  position: relative;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
}

.card__link::after {
  position: absolute;
  top: 25px;
  left: 0;
  content: "";
  width: 0%;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.6);
  transition: all 0.5s;
}

.card__link:hover::after {
  width: 100%;
}

.card__exit {
  grid-row: 1/2;
  justify-self: end;
}

.card__icon {
  grid-row: 2/3;
  font-size: 30px;
}

.card__title {
  grid-row: 3/4;
  font-weight: 400;
  color: #ffffff;
}

.card__apply {
  grid-row: 4/5;
  align-self: center;
}

/* CARD BACKGROUNDS */

.card-2 {
  background: radial-gradient(#037758, #049f76);
}

.card-1 {
  background: radial-gradient(#f47c98, #ef476f);
}

.card-3 {
  background: radial-gradient(#5d8cea, #3872e5);
}
.card-4 {
  background: radial-gradient(#05c793, #049f76);
}

/* RESPONSIVE */

@media (max-width: 1600px) {
  .cards {
    justify-content: center;
  }
}

@media only screen and (max-width: 425px) {
  .card_flex {
    flex-direction: column;
  }
}

.card_flex {
  display: flex;
  gap: 20px;
  align-items: center;
  flex-direction: row;
}

.form {
  background-color: #15172b;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px;
  width: 320px;
}

.title {
  color: #eee;
  font-family: sans-serif;
  font-size: 30px;
  font-weight: 600;
  margin-top: 30px;
}

.subtitle {
  color: #eee;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 30px;
}

.ic2 {
  margin-top: 30px;
}

.input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.cut {
  background-color: #15172b;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 76px;
}

.cut-short {
  width: 50px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.placeholder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}

.input:focus ~ .placeholder {
  color: #dc2f55;
}

.submit {
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  // outline: 0;
  text-align: center;
  width: 100%;
}

.submit:active {
  background-color: #06b;
}
